<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Хаан Даатгал</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block styles %}{% endblock %}

    <!-- App css -->
    <link href="{% static 'main_site/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'main_site/css/app.min.css' %}" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families": ["Roboto:300,400,500,600,700"]},
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
</head>

<body data-layout="topnav" class="boxed-layout">

<div class="wrapper">
    <div class="content-page">
        <div class="content">
            {% include 'layouts/top_navbar.html' %}
            {% include 'layouts/topbar.html' %}


            {% block content %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        2018 - 2019 © KhanInsurance
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-md-block">
                            <a href="javascript: void(0);">About</a>
                            <a href="javascript: void(0);">Support</a>
                            <a href="javascript: void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


<!-- App js -->
<script src="{% static 'main_site/js/app.min.js' %}"></script>

{% block scripts %}{% endblock %}
</body>
</html>
