.TopMenu{
    display: flex;
    padding-left: 15px;
    margin-right: auto;
    justify-content: center;

}
@media only screen and (max-width: 991px){
    .TopMenu{
        display: none;
    }
}
.TopMenu img{
    margin-right: 10px;
    margin-top: -10px;
}
.TopMenu form input{
    
    border: none;
    padding: 10px;
    background-color: #F1F3FA;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 38px;
    width: 248px;
    padding-left: 40px;
    margin-left: 0px;
    color: #495076;
    font: 400 13.3333px Arial;
    font-style: italic;
}
.TopMenu form input::-webkit-input-placeholder{
    color: rgb(125, 142, 180);
    font: 400 13.3333px Arial;
    font-style: italic;
}
.TopMenu form input:focus{
    outline: none;
}
.TopMenu form span{
    font-weight: 200;
    color: #7D8185;
    font-size: 14px;
    z-index: 10;
    position: relative;
    top:0;
    left: 25px;
}
.TopMenu form button{
    height: 38px;
    border: none;
    position: relative;
    top: 0px;
    left: -2px;
    color: #fff;
    background-color: #727cf5;
    border-color: #727cf5;
    box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
    font: 400 13.3333px Arial;
    font-style: italic;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    padding: 10px 15px;
}
.TopMenu form button:hover{
    background-color: #565AEC;
}
.TopMenu form button:focus{
    outline: none;
        box-shadow: 0 0 0 2pt #C4C7F8;
}